{{define "head"}}<title>Paĝo ne trovita &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">Ĉi tiu paĝo mankas.</p>
			<p>Ĉu vi certas ke ĝi eĉ ekzistis?</p>
		</div>
{{end}}
