{{define "head"}}<title>Malfarita afiŝo &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">{{if .Content}}{{.Content}}{{else}}La aŭtoro malfaris la afiŝadon.{{end}}</p>
			<p class="commentary">Eble unu tagon ĝi revenos.</p>
		</div>
{{end}}
