{{define "head"}}<title>Temporarily Unavailable &mdash; {{.SiteMetaName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">La vortoj ne venas al mi. &#x1F5C5;</p>
			<p>Ni ne sukcesis havigi ĉi tiun paĝon pro alta servila ŝarĝo. Ĉi tio devus esti nur portempa.</p>
		</div>
{{end}}
