{{define "head"}}<title>{{.ContentTitle}} &mdash; {{.SiteName}}</title>
<meta name="description" content="{{.PlainContent}}">
{{end}}
{{define "content"}}
	<div class="content-container snug">
		<h1>{{.ContentTitle}}</h1>

		{{.Content}}

		{{if .PublicStats}}
			<hr style="margin:1.5em 0;" />
			<p><em>{{.SiteName}}</em> estas la hejmo por <strong>{{largeNumFmt .AboutStats.NumPosts}}</strong> {{pluralize "artikolo" "artikoloj" .AboutStats.NumPosts}} tra <strong>{{largeNumFmt .AboutStats.NumBlogs}}</strong> {{pluralize "blogo" "blogoj" .AboutStats.NumBlogs}}.</p>
		{{end}}

		{{if not .WFModesty}}
		<h2 style="margin-top:2em">Pri WriteFreely</h2>
		<p><a href="https://writefreely.org">WriteFreely</a> estas memgastigata necentra blogplatformo por publikigi belajn simplajn blogojn.</p>
		<p>Ĝi ebligas al vi afiŝi unuopan blogon, aŭ gastigi komunumon da verkistoj kiuj povas krei plurajn blogojn en unu konto. Vi ankaŭ povas ebligi federaciadon, kio ebligas al aliaj en la federacia retaro sekvi vian blogon, memorigi viajn afiŝojn kaj kunhavigi ilin kun aliaj.</p>
		<p>En la Github-konto de <a href="https://github.com/lapingvino">LaPingvino</a> troviĝas traduko al Esperanto de la <a href="https://github.com/LaPingvino/writefreely-esperanto-templates">ŝablonoj</a> (metu en templates) kaj <a href="https://github.com/LaPingvino/writefreely-esperanto-pages">paĝoj</a> (metu en pages).</p>
		<div class="clearfix blurbs" style="font-size: 1.3em;text-align:center">
			<div class="half big">
				<p><a href="https://writefreely.org/start">Komenci servilon</a></p>
			</div>
			<div class="half big">
				<p><a href="https://writefreely.org">WriteFreely</a></p>
			</div>
		</div>
		{{end}}
	</div>
{{end}}
